<!DOCTYPE html>
<!--[if lt IE 8 ]>
<html lang="en" class="ie7">
<![endif]-->
<!--[if IE 8 ]>
<html lang="en" class="ie8">
<![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="ie9">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>Lola | HTML Themes</title>
    <meta charset="UTF-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Style CSS -->
    <link href="css/bootstrap.css" media="screen" rel="stylesheet">
    <link href="css/font-awesome.css" media="screen" rel="stylesheet">
    <link href="style.css" media="screen" rel="stylesheet">
</head>
<body>
     

<!-- Spinner -->
<div class="spinner-container">
    <div class="spinner-dot"></div>
    <div class="spinner-dot"></div>
    <div class="spinner-dot"></div>
</div>
<!-- /Spinner -->
<!-- Theme Menu -->
<div class="theme-menu">
    <a href="#" class="menu-header-close-button-mobile"></a>
    <div class="menu-header">
        <h3 class="menu-title">MENU</h3>
        <nav class="menu">
            <ul>
                <li class="menu-item-has-children">
                    <a href="#" class="menu-icon"></a>
                    <a href="index.html">HOME</a>
                    <ul class="sub-menu">
                        <li class="active-item"><a href="index.html">HOME SLIDER</a></li>
                        <li><a href="index-2.html">HOME VIDEO</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#" class="menu-icon"></a>
                    <a href="shop.html">SHOP</a>
                    <ul class="sub-menu">
                        <li><a href="shop.html">TWO COLUMNS</a></li>
                        <li><a href="shop-2.html">THREE COLUMNS </a></li>
                    </ul>
                </li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="blog.html">BLOG</a></li>
                <li><a href="contact.html">CONTACT</a></li>
                <li class="menu-item-has-children">
                    <a href="#" class="menu-icon"></a>
                    <a href="size-guide.html">HELP</a>
                    <ul class="sub-menu">
                        <li><a href="size-guide.html">SIZE GUIDE</a></li>
                        <li><a href="returns-exchanges.html">RETURNS - EXCHANGES</a></li>
                        <li><a href="terms-of-services.html">TERMS OF SERVICES</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="menu-log-in"><a href="login.html">LOG IN</a></div>
    </div>
    <div class="menu-footer">
        <ul class="menu-social">
            <li class="social-icon">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-icon">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-icon">
                <a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
            <li class="social-icon">
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</div>
<!-- End Theme Menu -->
<div id="page" class="site invisible">
    <!-- Header -->
    <header class="header">
        <div class="menu-link-wrap">
            <a href="#" class="menu-link">
                <span></span>
            </a>
        </div>
        <div class="logo-wrap">
            <a href="index.html" class="theme-logo">Lola</a>
        </div>
        <div class="header-cart">
            <a href="#" class="cart-link">
                <strong>CART</strong>
                <span>2</span></a>
        </div>
    </header>
    <!-- End Header -->
    <!-- HomePage Slider -->
    <section class="home-slider">
        <div id="home-slider" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <!-- Slider 1 -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url('images/Home-Slider/slide-1.jpg')">
                    <div class="itable">
                        <div class="icell">
                            <div class="slider-content">
                                <h2 class="slider-title-before">HANDMADE BASICS WITH STYLE AND QUALITY</h2>
                                <h1 class="slider-title">Back to Black</h1>
                                <a href="shop.html" class="btn btn-1"><span>start shopping now</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider 2 -->
                <div class="item" style="background-image: url('images/Home-Slider/slide-2.jpg')">
                    <div class="itable">
                        <div class="icell">
                            <div class="slider-content">
                                <h2 class="slider-title-before">HANDMADE BASICS WITH STYLE AND QUALITY</h2>
                                <h1 class="slider-title">Modern & Edgy</h1>
                                <a href="shop.html" class="btn btn-1"><span>start shopping now</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider 3 -->
                <div class="item" style="background-image: url('images/Home-Slider/slide-3.jpg')">
                    <div class="itable">
                        <div class="icell">
                            <div class="slider-content">
                                <h2 class="slider-title-before">HANDMADE BASICS WITH STYLE AND QUALITY</h2>
                                <h1 class="slider-title">Major Comeback</h1>
                                <a href="shop.html" class="btn btn-1"><span>start shopping now</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#home-slider" data-slide-to="0" class="active"></li>
                <li data-target="#home-slider" data-slide-to="1"></li>
                <li data-target="#home-slider" data-slide-to="2"></li>
            </ol>
        </div>
    </section>
    <!-- End HomePage Slider -->
</div>
<!-- Shop Cart -->
<div class="cart-wrapper">
    <a href="#" class="shop-cart-close"></a>
    <div class="cart-header">
        <h3 class="shop-cart-title">SHOPPING CART</h3>
        <ul class="shop_table shop_table_cart">
            <li class="cart_item clearfix">
                <div class="product-thumbnail">
                    <a href="shop-details.html"><img src="images/Shop/cart-product-thumb-1.jpg" alt="Product 1"/></a>
                </div>
                <div class="product-info">
                    <div class="product-name">
                        <a href="shop-details.html">the skinny</a>
                    </div>
                    <div class="product-size-color">
                        <span>Small/Blue</span>
                    </div>
                    <div class="product-quantity spinner" data-trigger="spinner">
                        <input type="text" class="qty" value="1" data-rule="quantity"/>
                        <div class="spinner-controls">
                            <a href="javascript:;" data-spin="up" class="spin-up">+</a>
                            <a href="javascript:;" data-spin="down" class="spin-down">-</a>
                        </div>
                    </div>
                    <div class="product-subtotal">
                        <span>$175.00</span>
                    </div>
                </div>
            </li>
            <li class="cart_item clearfix">
                <div class="product-thumbnail">
                    <a href="shop-details.html"><img src="images/Shop/cart-product-thumb-2.jpg" alt="Product 2"/></a>
                </div>
                <div class="product-info">
                    <div class="product-name">
                        <a href="shop-details.html">the slouchy</a>
                    </div>
                    <div class="product-size-color">
                        <span>Small/Blue</span>
                    </div>
                    <div class="product-quantity spinner" data-trigger="spinner">
                        <input type="text" class="qty" value="1" data-rule="quantity"/>
                        <div class="spinner-controls">
                            <a href="javascript:;" data-spin="up" class="spin-up">+</a>
                            <a href="javascript:;" data-spin="down" class="spin-down">-</a>
                        </div>
                    </div>
                    <div class="product-subtotal">
                        <span>$150.00</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="cart-footer">
        <div class="cart-wrap-total-checkout clearfix">
            <div class="cart_total clearfix">
                <span class="cart-total-text">Subtotal</span>
                <span class="cart-total">$325.00</span>
            </div>
            <div class="proceed-to-checkout">
                <a href="checkout.html" class="checkout-button"><span>Check Out</span></a>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Cart -->

<!-- main JS libs  -->
<script src="js/lib/jquery-1.12.2.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<!-- Modernizr Library -->
<script src="js/lib/modernizr.min.js"></script>

<!--[if lt IE 9]>
<script src="js/lib/html5shiv.js"></script>
<script src="js/lib/respond.min.js"></script>
<![endif]-->

<!-- Input Number 'Spinner' -->
<script src="js/jquery.spinner.js"></script>
<!-- Slider Touch Swipe -->
<script src="js/jquery.touchSwipe.min.js"></script>

<!--General JS-->
<script src="js/general.js"></script>
</body>
</html>
